# Telegram Bot Token from @BotFather
BOT_TOKEN=8862054310:AAEFj9CUYBGfAyvlL5yLGrDH8jYjWJzMMBE

# Path to Firebase Admin SDK JSON key file (e.g. serviceAccountKey.json)
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json

# OR Firebase environment variables (if not using serviceAccountKey.json file)
FIREBASE_PROJECT_ID=primestandard-app
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-...@primestandard-app.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
